<main id="user-library-books-index">
  {{#filter-content content=model.books properties="title content" as |filteredBooks query|}}
  <nav>
    {{#link-to 'user.library.books.add' class="user-index-nav-btn"}}
      <button class="books-index-nav-btn">Add Book</button>
    {{/link-to}}
    {{input type="text" name="search-bookmarks" placeholder="Search" value=query}}
  </nav>
    {{list-books books=filteredBooks query=query deletable=false myLibrary=true}}
  {{/filter-content}}
</main>
