// colors
$background-dark: rgb(27, 30, 39);
$background-light: rgb(50, 50, 50);
$gold: rgb(224, 215, 90);

@mixin strip-anchor() {
  text-decoration: none;
  color: inherit;
}

// GLOBAL STYLES
* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

body {
  background-color: $background-dark;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  max-height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  >div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

main {
  height: 78%;
  max-height: 78%;
}

footer {
  background-color: $background-light;
  color: white;
  display: flex;
  justify-content: center;
  position: static;
  bottom: 0;
  z-index: 5;
}

#main-title-headers {
  margin-top: 5rem;
  font-family: 'Tangerine', cursive;
  text-align: center;
  color: $gold;
  h1#small-title {
    font-size: 4rem;
  }
  h1#large-title {
    margin-top: -2rem;
    font-size: 8rem;
  }
  a {
    @include strip-anchor();
  }
}


#login-button-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  button {
    padding: 0.3rem 5rem 1rem 2rem;
    border-radius: 10%;
    font-size: 2rem;
    margin-left: 5%;
    cursor: pointer;
    background-image: url('/assets/images/github-icon.png');
    background-size: 2rem;
    background-repeat: no-repeat;
    background-position-x: 77%;
    background-position-y: 40%;
  }
}

section#welcome-info {
  background-color: $background-light;
  color: $gold;
  width: 80%;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin: 0 auto;
  margin-top: 3rem;
  h3 {
    text-align: center;
    font-size: 1.7rem;
  }
  p {
    padding: 0 8rem;
    font-size: 1.4rem;
  }
}


header#user-index-header {
  background: $background-light;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: white;
  h2 {
    color: $gold;
    font-family: 'Tangerine', cursive;
    font-size: 5rem;
  }
  h3 {
    align-self: center;
  }
  a {
    @include strip-anchor;
    align-self: center;
    &:hover {
      color: $gold;
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 3rem;
    align-self: center;
    padding: 1rem;
    border-radius: 10%;
    font-size: 1.2rem;
    &:hover {
      background-color: $background-dark;
      color: $gold;
    }
  }
}

#followee-feed-component {
  height: 88%;
  border: 2px solid $gold;
  width: 47%;
  h4 {
    text-align: center;
    color: #efefef;
    margin-top: 0.4rem;
  }
}

.sub-header {
  display: flex;
  flex-direction: column;
  color: #efefef;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  form {
    display: flex;
  }
  input {
    width: 18rem;
    height: 2rem;
    font-size: 1.8rem;
    margin-right: 1rem;
  }
  button {
    height: 2rem;
    border-radius: 10%;
    width: 5rem;
    font-size: 1rem;
    background-color: $background-light;
    border: 5px solid $gold;
    color: #efefef;
    cursor: pointer;
    &:hover {
      background-color: rgb(55, 55, 55);
    }
  }
  h2 {
    margin-bottom: 1rem;
  }
  .form-error {
    color: rgb(232, 82, 51);
    margin-top: 5rem;
    position: absolute;
  }
}
main#user-index-main {
  height: 80%;
  margin-top: 3rem;
  display: flex;
  nav {
    display: flex;
    flex-direction: column;
    width: 22rem;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-top: 3rem;
    button {
      padding: 0.5rem 2rem;
      border-radius: 10%;
      margin-bottom: 1.7rem;
      width: 12rem;
      cursor: pointer;
      font-size: 2rem;
      &:hover {
        background-color: $background-dark;
        color: $gold;
      }
    }
  }
  #followee-feed-component {
    margin-left: 4.1rem;
  }
}

main#lib-books-add {
  section {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    h2 {
      color: white;
      margin-bottom: 1rem;
    }
    input {
      font-size: 2rem;
      width: 32rem;
      margin-bottom: 2rem;
    }
    button {
      padding: 2rem;
      border-radius: 10%;
      width: 11rem;
      font-size: 2rem;
      background-color: $background-light;
      border: 5px solid $gold;
      color: #efefef;
      cursor: pointer;
      &:hover {
        background-color: rgb(55, 55, 55);
      }
    }
  }
  .form-error {
    color: rgb(232, 82, 51);
  }
}

button.books-index-nav-btn {
  padding: 0.5rem 2rem;
  border-radius: 10%;
  margin-bottom: 1.7rem;
  width: 12rem;
  cursor: pointer;
  font-size: 2rem;
  &:hover {
    background-color: $background-dark;
    color: $gold;
  }
}

main#user-library-books-index {
  button {
    margin-left: 3rem;
    padding: 0.3rem;
  }
  nav {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    input {
      height: 2rem;
      width: 37rem;
      font-size: 1.6rem;
      margin-left: 14rem;
    }
  }
}

.list-books-component {
  overflow: scroll;
  border: 1.3px solid $gold;
  height: 70vh;
  max-height: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  div.background-wrapper {
    position: absolute;
    width: 98.5%;
    height: 55%;
    background-image: url('/assets/images/book-banner.jpg');
    opacity: 0.5;
    z-index: -1;
    filter: grayscale(50%);
  }
}

.single-bookmark-component {
  color: white;
  border: 2px solid silver;
  background-color: rgba(0, 0, 0, 0.7);
  height: 13rem;
  width: 19.5rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  margin: 0.7rem;
  h5 {
    font-size: 1rem;
    border-bottom: 1px solid $gold;
    text-overflow: ellipsis;
  }
  section.book-main {
    max-height: 35%;
    display: flex;
  }
  nav {
    display: flex;
    padding-left: 1rem;
    a {
      text-decoration: none;
      color: white;
      background-color: rgba(143, 190, 1, 1);
      padding: 1rem;
      border-radius: 10%;
      margin-right: 2rem;
      &:hover {
        background-color: silver;
      }
    }
  }
}

.list-tags-component {
  margin-top: 2rem;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

// @keyframes tilt {
//   from {}
//   to {transform: rotate}
// }

.single-tag-component {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  background-color: rgba(106, 165, 263, 1);
  padding: 0.1rem 0.5rem;
  border-radius: 10%;
  cursor: pointer;
  &.large-tag {
    font-size: 1.7rem;
    margin-right: 1rem;
    padding: 0.3rem 0.7rem;
  }
  &.faded-tag {
    opacity: 0.6;
  }
  &:hover {
    background-color: rgba(106, 115, 263, 1);
  }
  button.x-close {
    font-size: 0.3rem;
    display: block;
    border-radius: 50%;
    background-color: black;
    color: white;
    border: 0.1rem solid white;
    position: absolute;
    margin-left: -1rem;
    margin-top: -0.6rem;
    cursor: pointer;
    -webkit-transition: transform .35s ease-in-out;
    -moz-transition:transform .35s ease-in-out;
    -ms-transition:transform .35s ease-in-out;
    &:hover {
      transform: rotate(-30deg);

      -webkit-transition: transform .35s ease-in-out;
      -moz-transition:transform .35s ease-in-out;
      -ms-transition:transform .35s ease-in-out;
    }
  }
  button.hide-x {
    display: none;
  }
}


main#user-library-book-index {
  color: #efefef;
  h2 {
    text-align: center;
  }
  img {
    width: 37rem;
    filter: invert(100%);
  }
  .bookmark-heading {
    text-align: center;
    .heading-buttons {
      display: flex;
      justify-content: space-between;
      padding: 0 2rem;
    }
    button {
      left: 3.3%;
      padding: 0.1rem 2rem;
      border-radius: 10%;
      margin-top: 0.5rem;
      margin-bottom: 1.7rem;
      width: 12rem;
      cursor: pointer;
      font-size: 1.2rem;
      &:hover {
        background-color: $background-dark;
        color: $gold;
      }
      &.remove-book {
        display: flex;
        font-size: 1rem;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 5rem;
        width: 5rem;
        border: 5px solid rgba(170, 102, 153, 0.5);
        background-color: rgb(189, 0, 1);
        color: white;
        margin-left: 5rem;
        &:hover {
          background-color: rgba(189, 0, 1, 0.7)
        }
      }
    }
  }
  .bookmark-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span.description {
      display: block;
      width: 55%;
      align-self: center;
      text-align: center;
      margin-bottom: 2rem;
    }
    a {
      margin-bottom: 2rem;
      @include strip-anchor();
      background-color: rgba(143, 190, 1, 1);
      padding: 1rem;
      border-radius: 10%;
      &:hover {
        background-color: silver;
        color: $gold;
      }
    }
    h3 {
      margin-bottom: 0.7rem;
      font-size: 1.4rem;
    }
    small {
      margin-bottom: 0.7rem;
    }
  }
  .tag-creator-component {
    display: flex;
    justify-content: space-between;
    input {
      height: 2.2rem;
      width: 12rem;
      font-size: 2rem;
    }
    button {
      height: 2.2rem;
      width: 2.2rem;
      font-size: 1rem;
      background-color: rgb(70, 149, 240);
      margin-left: 0.8rem;
    }
  }
}

.tag-creator-component {

}

// spinner
.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #efefef;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

main#libraries-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.glance-library-component {
  padding-top: 1rem;
  color: white;
  border: 0.1rem solid $gold;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 12rem;
  width: 30rem;
  margin-bottom: 1rem;
  &:hover {
    border: 0.3rem solid rgb(249, 234, 111);
  }
  h3 {
    margin-left: 1rem;
    border-bottom: 0.5px solid silver;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  .owner-text {
    font-size: 0.8rem;
    margin-right: 1rem;
  }
  .list-tags-component {
    margin-left: 1rem;
  }
}

header#libraries-header {
  background: $background-light;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: white;
  h2 {
    color: $gold;
    font-family: 'Tangerine', cursive;
    font-size: 5rem;
  }
  h3 {
    align-self: center;
  }
  a {
    @include strip-anchor;
    align-self: center;
    &:hover {
      color: $gold;
    }
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 3rem;
    align-self: center;
    padding: 1rem;
    border-radius: 10%;
    font-size: 1.2rem;
    &:hover {
      background-color: $background-dark;
      color: $gold;
    }
  }
}

main#library-books-index {
  button {
    margin-left: 3rem;
    padding: 0.3rem;
  }
  nav {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    input {
      height: 2rem;
      width: 37rem;
      font-size: 1.6rem;
      margin-left: 14rem;
    }
  }
}

.git-user-info {
  width: 21rem;
  height: 2rem;
  margin-right: -14rem;
  * {
    display: inline-block;
  }
  img {
    width: 3rem;
    flex-grow: 0;
    margin-right: 1rem;
  }
  a {
    margin-top: 0.7rem;
    display: flex;
    height: 3rem;
  }
}
