<main id="user-index-main">
  <nav>
    <button class="user-index-nav-btn">Add Book</button>
    <button class="user-index-nav-btn">Browse Your Library</button>
    <button class="user-index-nav-btn">Browse Other Libraries</button>
  </nav>
  {{followee-feed}}
</main>
{{outlet}}
