<ul>
  <li>Provider: {{session.data.authenticated.provider}}</li>
  <li>GitHub token: {{session.data.authenticated.authorizationCode}}</li>
  <li>GitHub access token: {{session.data.authenticated.accessToken}}</li>
</ul>
