<header id="libraries-header">
  <div class="git-user-info">
    {{#link-to 'user' model.gitUser.login}}
      <img class="avatar-img" src="{{model.gitUser.avatarUrl}}" alt="">
      <h3>{{model.gitUser.login}}</h3>
    {{/link-to}}
  </div>
  <h2>Library of Devexandria</h2>
  {{#if session.isAuthenticated}}
    <button {{action 'logout'}}>logout</button>
  {{/if}}
</header>
<div class="sub-header" id="libraries-sub-header">
  <h2>Index of Libraries</h2>
</div>
<main id="libraries-main">
  {{#each model.libraries as |library|}}
    {{#link-to 'library.books.index' library.id}}
      <img src="/assets/images/library-divider.png" alt="decoration">
      {{glance-library library=library}}
    {{/link-to}}
  {{/each}}
</main>
